{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LineBrary</title>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/Books/css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</head>

<body>
    <header>
        <div id="logo_index">
            <h1 class="display-3">LineBrary</h1>
            <p class="lead">Simply Enjoy The Road</p>
        </div>
    </header>
    <section class="bg-dark" id="list_and_costumization"><a id="list_icon"><svg id="menu_button" class="bi bi-list"
                viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M2.5 11.5A.5.5 0 013 11h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 7h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 3h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5z"
                    clip-rule="evenodd" />
            </svg></a>
        <div id="costumization"><span>A</span><span>A</span></div>
    </section>
    <section id="to_fit_top_header"></section>
    <main>
        <div class="flex-container">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="loans-tab" data-toggle="tab" href="#loans" role="tab"
                        aria-controls="loans" aria-selected="true">My Loans</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="constributions-tab" data-toggle="tab" href="#contributions" role="tab"
                        aria-controls="contributions" aria-selected="false">My Contributions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="wishlist-tab" data-toggle="tab" href="#wishlist" role="tab"
                        aria-controls="Wish list" aria-selected="false">Wishlist</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade show active" id="loans" role="tabpanel" aria-labelledby="loans-tab">
                    <ul class="list-unstyled mt-4 ml-4">
                        {% for order in orders %}
                        <li class="media mt-4">
                            <img class="mr-3" src="{{order.ISBN13.imageURL}}" alt="Generic placeholder image">
                            <div class="media-body">
                                <h4 class="mt-0 mb-1">{{order.ISBN13.bookname}}</h4>
                                <b>Station:</b> Te-Aviv Center<br>
                                <b>Loan Date:</b> {{order.order_date}}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tab-pane fade" id="contributions" role="tabpanel" aria-labelledby="contributions-tab">
                    <ul class="list-unstyled mt-4 ml-4">
                        {% for contribution in contributions %}
                        <li class="media mt-4">
                            <img class="mr-3" src="{{order.ISBN13.imageURL}}" alt="Generic placeholder image">
                            <div class="media-body">
                                <h4 class="mt-0 mb-1">{{contribution.ISBN13.bookname}}</h4>
                                    <b>Station:</b> Tel-Aviv Center<br>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tab-pane fade" id="wishlist" role="tabpanel" aria-labelledby="wishlist-tab">
                    <ul class="list-unstyled mt-4 ml-4">
                        {% for item in wishlist %}
                        <li class="media mt-4">
                            <img class="mr-3" src="{{item.ISBN13.imageURL}}" alt="Generic placeholder image">
                            <div class="media-body">
                                <h4 class="mt-0 mb-1">{{item.ISBN13.bookname}}</h4>
                                    <b>Station:</b> Te-Aviv Center<br>
                                     
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

    </main>

    <footer class="bg-secondary">
        <a class="a_footer" href=""><span><i class="fas fa-route"></i>Route</span></a>
        <a class="a_footer" href="{% url 'add_book' %}"><span><i class="fas fa-plus"></i>Add</span></a>
        <a class="a_footer" href=""><span class="wheatColor"><i class="fas fa-home wheatColor"></i>Home</span></a>
        <a id="button-nav-search" class="a_footer"><span><i class="fas fa-search"></i>Search</span></a>
    </footer>
    <script src="{% static 'Books/js/index_scripts.js' %}"></script>
    <script src="{% static 'Books/js/scripts.js' %}"></script>
</body>

</html>